body {
    background-color: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: black;
}

nav {
    margin: 15px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    margin: 5px;
}

form {
    margin-top: 20px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 20px;
}
